# Build output
/dist/
/dist-electron/
/portable/

# Dependencies
/node_modules/

# Environment and log files
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Editor settings
.vscode/
.idea/
